<nav class="main-header navbar navbar-expand-md navbar-light navbar-white" style="margin-bottom: 20px">
    <div class="container">
        <a href="/Home" class="navbar-brand">
            <img src="~/images/DLogo.png" alt="DT (B) log" class="brand-image img-circle elevation-3" style="opacity: .8">
            <span class="brand-text font-weight-light">DT(B)Log</span>
        </a>

        <button class="navbar-toggler order-1" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse order-3" id="navbarCollapse">
            <!-- Left navbar links -->
            <div class="navbarText">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a href="/Home" class="nav-link">Anasayfa</a>
                    </li>
                    <li class="nav-item">
                        <a href="/Home" class="nav-link">Alıntı</a>
                    </li>
                    <li class="nav-item">
                        <a href="/Home" class="nav-link">Müzik</a>
                    </li>
                    <li class="nav-item">
                        <a href="/Home" class="nav-link">Haberler</a>
                    </li>
                    <li class="nav-item">
                        <a href="/Home" class="nav-link">Yazarlar</a>
                    </li>
                    <li class="nav-item">
                        <a href="/Home" class="nav-link">Künye</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-widget="control-sidebar" data-slide="true" href="#" role="button">İletişim</a>
                    </li>
                </ul>
            </div>
            <div class="navbarSearch">
                <!-- SEARCH FORM -->
                <form class="form-inline ml-0 ml-md-3">
                    <div class="input-group input-group-sm">
                        <input class="form-control form-control-navbar" type="search" placeholder="Ara(Not Working!)" aria-label="Search">
                        <div class="input-group-append">
                            <button class="btn btn-navbar" type="submit">
                                <i class="fas fa-search"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</nav>

<!-- Control Sidebar -->
<aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
    <div class="p-3">
        <h5>İletişim</h5>
        <p>Form gelecek!</p>
    </div>
</aside>
<!-- /.control-sidebar -->